/*--Website Size--*/


/*--LOGO--*/

.h1,
h1 {
    font-size: 36px;
    color: #d9534f;
    margin: 2%;
}

.h1,
.h2,
.h3,
.h4 {
    font-weight: 500;
    line-height: 1.1;
}


/*--Nav Bar--*/

.navbar-inverse {
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

a:-webkit-any-link {
    cursor: auto;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}


/*--Body--*/

a.absolute {
    position: absolute;
    display: block;
    margin-top left: 0;
    top: 0;
}


/*--Red Pill--*/

ul.first-r {
    left: 0%;
    position: relative;
}

ul {
    list-style-type: none;
}

.pager .next>a,
.pager .next>span {
    float: right;
    color: red;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

a:-webkit-any-link {
    cursor: auto;
}

li {
    text-align: -webkit-match-parent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
}

/*#rotateLeft {
    z-index: 20;
    position: relative;
    right: 400px;
    margin-top: 23px;
    width: 100px;
    height: 30px;
    transform: rotate(90deg);
    float:right;
}*/

#rotateRight {
    z-index: 20;
    position: relative;
    left: 400px;
    margin-top: 23px;
    width: 100px;
    height: 30px;
    transform: rotate(-90deg);
}


#drugPanel{
        width:90%;
        margin-left: 0px;
        padding-right:0px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: -30px;
        background-color: #ccc;
        transfrom: translate3d(-90%, -40%, 0);
        -webkit-transform: translate3d(-90%, -40%, 0);
        top:58%;
        position: absolute;
        transition:all 1s;
        -webkit-transition:all 1s;
        height:400px;
        z-index: 0;

        border-color: black;
        border-width: : 100px;
        border-style: solid;

}

#drugPanel.open{
    transfrom: translate3d(0%, -100%, 0);
    -webkit-transform: translate3d(0%, -50%, 0);
    height:80%;
    background:#ECEBEB;
    z-index: 0;

}

#seopenbtn {

    float: right;
    margin-right: 0px;
    padding-right: 0px;
    z-index: 50;
    position: relative;

}

#symptomPanel{
        width:91.5%;
        margin-left: 0px;
        padding-right:0px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 0px;
        background-color: #F5F5DC;
        transfrom: translate3d(90%, 200%, 0);
        -webkit-transform: translate3d(90%, 40%, 0);
        top:9.5%;
        position: absolute;
        transition:all 1s;
        -webkit-transition:all 1s;
        height:400px;
        z-index: 0;

        border-color: black;
        border-width: : 100px;
        border-style: solid;

}

#symptomPanel.open{
    transfrom: translate3d(90%, 240%, 0);
    -webkit-transform: translate3d(10%, 10%, 0);
    height:80.4%;
    background:#ECEBEB;
    z-index: 0;

}

#symopenbtn {

    float: left;
    margin-left: 0px;
    padding-left: 0px;
    z-index: 50;
    position: relative;

}





#toplevel {

    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

    position: relative;
    background-color: white;

    /*z-index:;*/
}



/*#drugPanel:after{
    content:"";
    position: absolute;
    color:#fff;
    background-color:#000;
    right:0;
    top:0;
    height:100%;
    width: 50px;
}*/


