/*--Website Size--*/


/*--LOGO--*/

.h1,
h1 {
    font-size: 36px;
    color: #d9534f;
    margin: 2%;
}

.h1,
.h2,
.h3,
.h4 {
    font-weight: 500;
    line-height: 1.1;
}


/*--Nav Bar--*/

.navbar-inverse {
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

a:-webkit-any-link {
    cursor: auto;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}


/*--Body--*/

a.absolute {
    position: absolute;
    display: block;
    margin-top left: 0;
    top: 0;
}


/*--Red Pill--*/

ul.first-r {
    left: 0%;
    position: relative;
}

ul {
    list-style-type: none;
}

.pager .next>a,
.pager .next>span {
    float: right;
    color: red;
}

.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

a:-webkit-any-link {
    cursor: auto;
}

li {
    text-align: -webkit-match-parent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
}




#drugPanel{

        width:80%;
        margin-left: 0px;
        margin-right: 0px;
        padding-right:0px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: -30px;
        background-color: #ccc;
        transfrom: translate3d(-90%, -40%, 0);
        -webkit-transform: translate3d(-90%, -40%, 0);
        top:50%;
        position: absolute;
        transition:all 1s;
        -webkit-transition:all 1s;
        height:400px;
        z-index: 0;
        border-color: black;
        border-width: : 100px;
        border-style: solid;
        background-color: #ccc;


}

#drugPanel.open{
    transfrom: translate3d(0%, -100%, 0);
    -webkit-transform: translate3d(0%, -50%, 0);
    height:80%;
    background:#ECEBEB;
    z-index: 0;

}

#drugPanelBtn {

 
    margin-top: 86px;
    /*float: right;*/
    margin-right: 74px;
    padding-right: 0px;
    z-index: 110;
    position: relative;
    transform: rotate(90deg);

}

#symptomPanel {
    width: 10%;
    margin-left: 0px;
    padding-right:0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: #F5F5DC;
    transfrom: translate3d(100%, 90%, 0);
    -webkit-transform: translate3d(90%, 0%, 0);
    top:20.5%;
    position: absolute;
    transition:all 1s;
    -webkit-transition:all 1s;
    height:400px;
    z-index: 0;
    right: 10%;
    border-color: black;
    border-width: : 100px;
    border-style: solid;

}

#symptomPanel.open{
    transfrom: translate3d(0%, 0%, 0);
    -webkit-transform: translate3d(0%, 0%, 0);
    height:78.4%;
    background:#ECEBEB;
    z-index: 0;
    width: 80%;

}

#symcanvas {

    /*margin-left: 100px;*/

 
}

#symptomPanelBtn {


    margin-left: -20px;
    margin-top: 86px;
    float: left;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    z-index: 200;
    position: relative;
    transform: rotate(90deg);

}




/*
#toplevel {

     padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    background-color: #ecebeb;
    position: relative;

    z-index:;

}
*/
